
body {
    margin: 5%;
}

body h1{
    margin-left: 35px;
    margin-bottom: 20px;
}

.div__category {
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.span__delete-category button{
    float: right;
    margin-left: 15px;
}

.span__category:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.div__buttons {
    margin: 15px;
    margin-left: 100px;
}

.container {
    display: flex;
    gap: 200px;
}

.container__div {
    display: flex;
    gap: 50px;
}

.container__div-labels {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 100px;
}

.container__div-labels label{
    text-align: right;
}

.container__div-inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.button__delete {
    background: none;
	border: none;
	cursor: pointer;
}

#small_info {
    font-size: small;
    color: gray;
    margin: 15px;
}

#div-primary-buttons {
    margin-left: 35px;
    margin-bottom: 20px;
}